/* 나눔스퀘어 웹폰트 */
@import url(../fonts/NanumSquare-master/nanumsquare.css);

$blue : #1086ce;

.container {
    position: relative;
    width: 1200px; max-width: none;
}

.happy {
    // background: transparent url(../../images/pc.png) 50% 0 no-repeat;

    #site-header {
        // opacity: .8;
        border-bottom: 1px solid #d7d7d7;
    }

    .section-inner {
        width: 1200px;
    }

    .header-util {
        background: #EDEDED;
        .section-inner {
            display: flex; justify-content: flex-end;
            height: 30px;
        }
        a {
            display: inline-block; position: relative;
            height: 100%; padding-left: 30px;
            font-size: 14px;
            line-height: 27px;
            &:first-child {
                &::before {
                    display: none;
                }
            }
            &::before {
                content: '';
                width: 1px; height: 10px;
                background: red;
                position: absolute;top: 9px;left: 15px;
            }
        }
    }

    .header-inner {
        padding: 0;
    }

    .row {
        width: 100% !important;
        max-width: none !important;
    }

    .site-title a {
        display: block;
        width: 250px;height: 51px;
        background: url(../../images/comm/img-comm.png) 0 -160px no-repeat;
        text-indent: -9999px;
    }
    .primary-menu {
        margin: 0;
        // 1depth
        > li {
            margin: 0;
            &:hover, &:focus, &.focus {
                background: $blue;
                > a {
                    color: #fff;
                }
            }
            .icon {
                display: none;
            }
            > a {
                display: block;
                height: 90px;padding: 0 50px !important;
                font-size: 20px;color: #333;font-weight: 700;
                line-height: 90px;
            }
        }
        // 2depth
        .sub-menu {
            top: 100%;
            // right: 50%;opacity: 1; /* 다시 주석처리 */
            transform: translate(50%, 40px);
            width: 100%;
            background: #fff !important;
            border: 1px solid #d7d7d7;
            border-top: 3px solid $blue;
            font-size: 16px;
            border-radius: 0 0 0.4rem  0.4rem;
            &::after{
                display: none;
            }
            &:focus {
                right: 50%;top: 100%;
            }
            li {
                &:hover, &:focus {
                    background: #eee;
                }
            }
        }
    }
    // 전체 2depth 메뉴 보이게...
    // ul.primary-menu:hover > .sub-menu {display:block}
    .primary-menu li.menu-item-has-children:hover > ul,
    .primary-menu li.menu-item-has-children:focus > ul,
    .primary-menu li.menu-item-has-children.focus > ul {
        right: 50%;
        opacity: 1;
        transform: translate(50%, 0);
        transition: opacity 0.15s linear, transform 0.15s linear;
    }
}

// top 이미지
.top-area {
    background: url(../../images/main/slide-top.jpg) 50% 0 no-repeat;
    background-size: cover;
    // contain 긴 축을 기준으로 꽉 채우기
    // cover 짧은 축을 기준으로 꼭 채우기
    .container {
        height: 470px;
    }
    .top-txt {
        position: absolute;top: 102px;left: 0;
        em {
            font-size: 19px; font-weight: 700;
        }
        strong {
            display: block;
            margin: 15px 0 12px;
            font-size: 42px; font-weight: 700;
            color: #0072bc;
        }
        p  {
            font-size: 15px;
        }
    }
}
.lst-goto {
    position: absolute;bottom: 0;left: 0;
    display: flex;justify-content: space-between;
    li {
        width: 19%;
        background: tomato;
    }
}
