@charset "utf-8";

* {
    margin: 0; 
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    color: #303030;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;        
}
header {
  position: fixed;top: 0;right: 0;left: 0; z-index: 10;
  height: 70px;
  background: #212121;
}
header h1 {
  float: left;
  width: 151px;height: 34px;
  margin-top: 15px;
  background: url(../images/youtube.png) 0 0 no-repeat;
  text-indent: -9999px;
}
header nav {
  float: right;
}
header * {
  color: #fff;
}
header ul li {
  float: left;
  /* margin-left: 30px; */
}
header li a {
  display: block;
  height: 70px;
  padding: 0 15px;
  line-height: 70px;
}

.sec-video {
position: relative;
  width: 800px;
  margin: 100px auto 0;
}
.iframe-video {
  display: block;
  margin: auto;
}

.video-arrow a {
    position: absolute;top: 50%;
    transform: translateX(-50%);
    display: block;
    width: 100px;height: 100px;
    padding-top: 25px;
    background: rgba(0,0,0,.8);
    border-radius: 50%;
    text-align: center;
}
.video-arrow .btn-pre {
    left: -50px;
}
.video-arrow .btn-next {
    right: -50px;
}
.video-arrow i {
    color: #fff;
    font-size: 50px;
}

.blind {
    display: inline-block;
    text-indent: -9999px;font-size: 0; line-height: 0;
}
.video-dot {
    position: absolute;bottom: 20px;left: 50%;
    transform: translateX(-50%);
    /* margin-left: -79px; 가로사이즈 158 / 2 값을 당겨 */
    text-align: center;
}
.video-dot a {
    display: inline-block;
    width: 40px;height: 40px;
    margin: 0 5px;
    background: red;
    text-indent: -9999px;
    border-radius: 50%;
}

.video-desc {
    width: 800px;
    margin: 20px auto 0;
}
.video-desc strong {
    font-size: 24px;
}
.video-desc .txt {
    overflow-y: auto;
    height: 150px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
}